/* This is some default styling for the exercise */
/* edited by Eric Cheng in lab 3 IAT339 based on tutorial in class provided by Paul B*/
.container .block {
	height: 200px;
}
.container .block:nth-of-type(even) {
	background-color: #333;
}
.container .block:nth-of-type(odd) {
	background-color: #AAA;
}

.container{
	display: flex;
	flex-wrap: wrap;
}

.block{
	width: 20%;

}

@media (max-width: 30em){
	.block{
		flex-direction: row;
		width: 100%;
	}
}