

@font-face {
  font-family: 'proxima-nova';
  src: url(../fonts/proxima_nova_reg-webfont.ttf);

}

body {
  font-family: proxima-nova;
  /*margin: 0;
  height:100%;*/
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

/*Navigation*/
.nav-main .nav-right li {
  flex: 1 1 auto;
}

.nav-main a {
  padding: 1em;
  color: #FFF;
  background-color: #333334;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

/*Text Styling*/
/*pixel to em conversion from http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/*/
.header-level1 {
  font-size: 2.25em;
  color: #868476
}
.header-level2 {
  font-size: 1.6875em;
  color: #868476
}
.header-level3 {
  font-size: 1.3125em;
  color: #868476
}

.header-level4 {
  font-size: 1.125em;
  color: #868476
}

.header-level5 {
  font-size: 1em;
  color: #868476
}



/*Service item listings*/
/* box shadow styling taken from https://www.w3schools.com/css/css3_shadows.asp*/
.service-listing, .appointment-listing, .login{
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: solid 4px;
  border-color: #CABFAB;
  width: 30em;
  align-self: center;
}

.service-items, .login-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}


.barber-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

.appointment-service-items, .appointment-barber-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

.appointment-barber-items {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

.appointment-barber-items span{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.appointment-confirm-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

.barber{
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: solid 4px;
  border-color: #CABFAB;
  width: 20em;
  align-self: center;
}

.barber-image{
  width: 20em;
}

.button-submit, .login-button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #64ACA0;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.button-time {
 display: inline-block;
 padding: 1em 1.5em;
 color: #FFF;
 background-color: #64ACA0;
 border-radius: 0.25em;
 text-decoration: none;
 -webkit-transition: background-color 0.25s ease;
 transition: background-color 0.25s ease;
}

.button-back {
  align-self: center;
  padding-top: 3em;
  justify-content: center;
  text-decoration: none;
  color: #64ACA0;
  -webkit-transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.button-back:hover {
  color: #999;
}


/*used as line breaks in item description*/
.service-items p span, .appointment-service-items p span {
  display: block;
}

.barber-items p span {
  display: inline-block;
}

/*
.available-times {
  display: flex;
  justify-content: flex-start;
}
*/

/*hover and focus interactions*/
.nav-main a:hover {
  background-color: #CABFAB;
  color: #333334;
}

.button-submit:hover, .button-submit:focus, .button-time:hover, .button-time:focus{
  background-color: #CABFAB;
  color: #333334;
}

.about-image {
  height: auto;
  width: 100%;
  padding: 1rem;
  min-width: 400px;
}

.container{
  position: relative;
  text-align: center;
  color: white;
}

.home-banner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.8);
  padding: 0.25rem 3rem;
}

.banner-text{
  color:#64ACA0;
}

.about-text{
  color: #333334;
}

.map-image{
  align-self: center;
  width: 30rem;
  height: auto;
}

/*Footer*/
.footer {
  background: #333334;
  flex-shrink: 0;
  padding: 10px;
}

.footer p {
  color: white;
  text-align: center;
  width: 100%;
}
