

@font-face {
  font-family: 'proxima-nova';
  src: url(../fonts/proxima_nova_reg-webfont.ttf);

}

body {
  font-family: proxima-nova;
  /*margin: 0;
  height:100%;*/
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

/*Navigation*/
.nav-main .nav-right li {
  flex: 1 1 auto;
  position: sticky;
}

.nav-main{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav img{
  position: absolute;
  margin-left: 2em;
} 


.nav-right a {
  padding: 1em;
  color: #FFF;
  background-color: #333334;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

/*Text Styling*/
/*pixel to em conversion from http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/*/
.header-level1 {
  font-size: 2.25em;
  color: #868476
}
.header-level2 {
  font-size: 1.6875em;
  color: #868476
}
.header-level3 {
  font-size: 1.3125em;
  color: #868476
}

.header-level4 {
  font-size: 1.125em;
  color: #868476
}

.header-level5 {
  font-size: 1em;
  color: #868476
}

.top-header{
  margin-top: 5rem;
}



/*Service item listings*/
/* box shadow styling taken from https://www.w3schools.com/css/css3_shadows.asp*/
.service-listing, .appointment-listing, .login{
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: solid 4px;
  border-color: #CABFAB;
  width: 30em;
  align-self: center;
}

.service-items, .login-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}


.barber-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

.appointment-service-items, .appointment-barber-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

.appointment-barber-items {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

.appointment-barber-items span{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.appointment-confirm-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: solid 1px;
  border-color: #b4b4b4;
}

/*Barber page*/
.barber{
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: solid 4px;
  border-color: #CABFAB;
  width: 20em;
  align-self: center;
  padding:1em;
  margin: 1rem;
}

.barber-review{
  margin: 4rem 1rem;
}

.barber-image{
  width: 18em;
}

.reviews{
  align-self: center;
  margin-top: 3rem;
}

.bio{
  width: 200px;
}

.review-item{
  margin-top: 2rem;
  border-top: solid 4px;
  border-color: #CABFAB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 50rem;
  min-width: 18rem;
  margin-bottom: 3rem;
  padding: 1rem;
  text-align: center;
}


/*buttons*/
.button-submit, .login-button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #64ACA0;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.button-time {
 display: inline-block;
 padding: 1em 1.5em;
 color: #FFF;
 background-color: #64ACA0;
 border-radius: 0.25em;
 text-decoration: none;
 -webkit-transition: background-color 0.25s ease;
 transition: background-color 0.25s ease;
}

.button-back {
  align-self: center;
  padding-top: 3em;
  justify-content: center;
  text-decoration: none;
  color: #64ACA0;
  -webkit-transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.button-action{
  display: inline-block;
  padding: 1em 2em;
  color: #FFF;
  background-color: #64ACA0;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  text-decoration: none;
  margin: 1em 1em;
}

.button-back:hover {
  color: #999;
}


/*used as line breaks in item description*/
.service-items p span, .appointment-service-items p span {
  display: block;
}

.barber-items p span {
  display: inline-block;
}

/*
.available-times {
  display: flex;
  justify-content: flex-start;
}
*/

/*hover and focus interactions*/
.nav-main a:hover {
  background-color: #CABFAB;
  color: #333334;
}

.button-submit:hover, .button-submit:focus, .button-time:hover, .button-time:focus, .button-action:hover, .button-action:focus{
  background-color: #CABFAB;
  color: #333334;
}

.about-image {
  height: auto;
  width: 100%;
}

.calendar-image {
  padding-top: 1em;
}

.container{
  position: relative;
  text-align: center;
  color: white;
}

.home-banner{
  position: absolute;
  background-color: rgba(230,230,230,0.9);
  top: 15rem;
  padding: 1rem 3rem;
  max-height: 430px;
  overflow: scroll;
  width: 50%;
  align-self: center;
}

.logo{
  position: absolute;
  align-self: center;
  top: 8rem;
  width: 4rem;
  height: auto;
}

.banner-text{
  color:#64ACA0;
}

.about-text{
  color: #333334;
}

.map-image{
  align-self: center;
  width: 30rem;
  height: auto;
  margin-bottom: 2rem;
}

.hairstyle-image{
  align-self: center;
  width: 15rem;
  height:auto;
  padding: 2rem;
}

.gallery{
  margin: 4rem;
  align-self: center;
  overflow: scroll;
  min-width: 30rem;
}

/*form styling taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_form_focus2 */
input[type=text] {
  width: 30rem;
  height:auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: 2px solid #64ACA0;
}

input[type=text]:focus {
  border: 3px solid #CABFAB;
}

/*Footer*/
.footer {
  background: #333334;
  flex-shrink: 0;
  padding: 10px;
}

.footer p {
  color: white;
  text-align: center;
  width: 100%;
}

.footer a {
  align-self: center;
  padding-top: 3em;
  justify-content: center;
  text-decoration: none;
  color: #64ACA0;
  -webkit-transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}
.footer a:hover {
  color: #999;
}

/*Media queries for mobile*/
@media only screen and (max-width: 600px) {

  /*https://stackoverflow.com/questions/30358630/html-body-not-filling-complete-width-on-mobile-devices*/
  body {
    position: absolute;
  }

  .service-listing, .appointment-listing {
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: solid 4px;
    border-color: #CABFAB;
    width: 90%;
    align-self: center;
  }

  .service-items, .login-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: solid 1px;
    border-color: #b4b4b4;
  }

  .barber-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-bottom: solid 1px;
    border-color: #b4b4b4;
  }

  .barber-items img {
    width: 50px;
    height: 50px;
  }

  .barber-items span {
    padding-left: 0.5em;
    padding-right: 1em;
  }

  .container img{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .about-text{
    display: none;
  }

  .map-image{
    width: 100%;
    height: auto;
  }

  .gallery{
    margin: 1rem;
    align-self: center;
    overflow: scroll;
  }

  .hairstyle-image{
    align-self: center;
    width: 15rem;
    height:auto;
    padding: 0.5rem;
  }

}
